[submodule "sdk/third_party/xquic"]
	path = sdk/third_party/xquic
	url = https://github.com/taibin/xquic.git
[submodule "sdk/third_party/nghttp2"]
	path = sdk/third_party/nghttp2
	url = https://github.com/taibin/nghttp2.git
